.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.jewel{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    background-color: darkgrey;
    border: 2px solid palevioletred;
    box-shadow: 2px 2px 2px 2px black;
    margin-left: 27%;
}
